<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>
# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:1VwoIebMS0
allow from 192.168.1.15
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE 1VwoIebMS0:IPALLOWID

